In [19]:
# Test t per dati accoppiati
# Ipotesi nulla          H_0 : mu_D = 0
# Ipotesi alternativa    H_1 : mu_D > 0
# Test unilatero a destra

In [20]:
import numpy as np
from scipy.stats import t

In [21]:
X = np.array([[265., 240., 258., 295., 251., 245., 287., 314., 260., 279., 283., 240., 238., 225., 247.],
              [229., 231., 227., 240., 238., 241., 234., 256., 247., 239., 246., 218., 219., 226., 233.]])

In [22]:
D = X[0,:]-X[1,:]
display(D)

array([36.,  9., 31., 55., 13.,  4., 53., 58., 13., 40., 37., 22., 19.,
       -1., 14.])

In [23]:
n = D.size
D_bar = np.mean(D)
S = np.std(D,ddof=1)

In [24]:
T0 = D_bar/S*np.sqrt(n)
display(T0)

5.4658739941050065

In [25]:
alpha = 0.05
tt = t.ppf(1.-alpha,n-1)
display(tt)

1.7613101357748562

In [26]:
# Poiché T0 è maggiore di tt si rigetta H0 in favore di H1.
# Pertanto è possibile avallare l'ipotesi che la dieta e l'esercizio fisico
# abbiano portato a ridurre il livello di colesterolo nel sangue.